  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    padding: 0 23px;
    transform: transform 0.3s;
  }

  li:hover {
    transform: scale(1.1);
  }
  
  .iconos{
    width: 32px;
    height: 30px;
  }

  a{
    text-decoration: none;
  }

  .iconoFavorito{
    background-color: none;
    width: 15px
  
  }
  
  .zoom{
    width: 20px;
    height: 20px;
  }

  .zoom:hover{
    transform: scale(1.2);
    cursor: grab;
  }

  .descripciones{
    margin-top: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }

  .card{
    border-radius: 4px;
    background: #e1eddb;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s ease;
  }

  
 




  

